body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1009px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:807px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2305 {
  position:absolute;
  left:76px;
  top:190px;
  width:640px;
  height:807px;
}
#u2306 {
  position:absolute;
  left:2px;
  top:396px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2307 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2308 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:54px;
  background:inherit;
  background-color:rgba(81, 81, 81, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2309 {
  position:absolute;
  left:76px;
  top:91px;
  width:640px;
  height:54px;
}
#u2310 {
  position:absolute;
  left:2px;
  top:19px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:24px;
}
#u2311 {
  position:absolute;
  left:90px;
  top:107px;
  width:19px;
  height:24px;
}
#u2312 {
  position:absolute;
  left:2px;
  top:4px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2313 {
  position:absolute;
  left:119px;
  top:109px;
  width:33px;
  height:22px;
  color:#FFFFFF;
}
#u2314 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2315 {
  position:absolute;
  left:348px;
  top:112px;
  width:65px;
  height:22px;
  color:#FFFFFF;
}
#u2316 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:9px;
}
#u2317 {
  position:absolute;
  left:676px;
  top:114px;
  width:30px;
  height:9px;
}
#u2318 {
  position:absolute;
  left:2px;
  top:-4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2319 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2320 {
  position:absolute;
  left:76px;
  top:144px;
  width:640px;
  height:46px;
}
#u2320_input {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:46px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2321 {
  position:absolute;
  left:90px;
  top:154px;
  width:26px;
  height:26px;
}
#u2322 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2323 {
  position:absolute;
  left:136px;
  top:157px;
  width:289px;
  height:22px;
}
#u2324 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u2325 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:60px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2326 {
  position:absolute;
  left:76px;
  top:937px;
  width:640px;
  height:60px;
}
#u2327 {
  position:absolute;
  left:2px;
  top:22px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2328 {
  position:absolute;
  left:76px;
  top:937px;
  width:100px;
  height:60px;
}
#u2329 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u2330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2330 {
  position:absolute;
  left:256px;
  top:937px;
  width:100px;
  height:60px;
}
#u2331 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u2332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2332 {
  position:absolute;
  left:436px;
  top:937px;
  width:100px;
  height:60px;
}
#u2333 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u2334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2334 {
  position:absolute;
  left:616px;
  top:937px;
  width:100px;
  height:60px;
}
#u2335 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u2336 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:164px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2337 {
  position:absolute;
  left:75px;
  top:301px;
  width:640px;
  height:164px;
}
#u2338 {
  position:absolute;
  left:2px;
  top:74px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:118px;
}
#u2339 {
  position:absolute;
  left:89px;
  top:318px;
  width:156px;
  height:117px;
}
#u2340 {
  position:absolute;
  left:2px;
  top:50px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2341 {
  position:absolute;
  left:290px;
  top:319px;
  width:225px;
  height:22px;
}
#u2342 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u2343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2343 {
  position:absolute;
  left:290px;
  top:364px;
  width:181px;
  height:22px;
}
#u2344 {
  position:absolute;
  left:0px;
  top:2px;
  width:183px;
  white-space:nowrap;
}
#u2345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2345 {
  position:absolute;
  left:290px;
  top:341px;
  width:97px;
  height:22px;
}
#u2346 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2347 {
  position:absolute;
  left:290px;
  top:388px;
  width:181px;
  height:22px;
}
#u2348 {
  position:absolute;
  left:0px;
  top:2px;
  width:183px;
  white-space:nowrap;
}
#u2349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2349 {
  position:absolute;
  left:525px;
  top:341px;
  width:74px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2350 {
  position:absolute;
  left:2px;
  top:14px;
  width:70px;
  word-wrap:break-word;
}
#u2351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2351 {
  position:absolute;
  left:609px;
  top:342px;
  width:85px;
  height:40px;
}
#u2352 {
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u2353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2353 {
  position:absolute;
  left:290px;
  top:395px;
  width:17px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2354 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  visibility:hidden;
  white-space:nowrap;
}
#u2355 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2356 {
  position:absolute;
  left:212px;
  top:241px;
  width:123px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2357 {
  position:absolute;
  left:2px;
  top:29px;
  width:119px;
  word-wrap:break-word;
}
#u2358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u2358 {
  position:absolute;
  left:268px;
  top:247px;
  width:19px;
  height:19px;
  color:#1E1E1E;
}
#u2359 {
  position:absolute;
  left:0px;
  top:-1px;
  width:19px;
  white-space:nowrap;
}
#u2360 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2361 {
  position:absolute;
  left:338px;
  top:241px;
  width:121px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2362 {
  position:absolute;
  left:2px;
  top:29px;
  width:117px;
  word-wrap:break-word;
}
#u2363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2363 {
  position:absolute;
  left:390px;
  top:247px;
  width:28px;
  height:19px;
  color:#000000;
}
#u2364 {
  position:absolute;
  left:0px;
  top:-1px;
  width:28px;
  white-space:nowrap;
}
#u2365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2365 {
  position:absolute;
  left:462px;
  top:241px;
  width:125px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2366 {
  position:absolute;
  left:2px;
  top:29px;
  width:121px;
  word-wrap:break-word;
}
#u2367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2367 {
  position:absolute;
  left:506px;
  top:246px;
  width:37px;
  height:19px;
  color:#000000;
}
#u2368 {
  position:absolute;
  left:0px;
  top:-1px;
  width:37px;
  white-space:nowrap;
}
#u2369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF3333;
}
#u2369 {
  position:absolute;
  left:591px;
  top:241px;
  width:125px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF3333;
}
#u2370 {
  position:absolute;
  left:2px;
  top:29px;
  width:121px;
  word-wrap:break-word;
}
#u2371 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2372 {
  position:absolute;
  left:74px;
  top:241px;
  width:128px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2373 {
  position:absolute;
  left:2px;
  top:29px;
  width:124px;
  word-wrap:break-word;
}
#u2374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2374 {
  position:absolute;
  left:132px;
  top:247px;
  width:19px;
  height:19px;
  color:#000000;
}
#u2375 {
  position:absolute;
  left:0px;
  top:-1px;
  width:19px;
  white-space:nowrap;
}
#u2376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF3333;
}
#u2376 {
  position:absolute;
  left:647px;
  top:246px;
  width:19px;
  height:18px;
  font-size:16px;
  color:#FF3333;
}
#u2377 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u2378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:154px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2378 {
  position:absolute;
  left:75px;
  top:496px;
  width:640px;
  height:154px;
}
#u2379 {
  position:absolute;
  left:2px;
  top:69px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:111px;
}
#u2380 {
  position:absolute;
  left:89px;
  top:512px;
  width:156px;
  height:110px;
}
#u2381 {
  position:absolute;
  left:2px;
  top:47px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2382 {
  position:absolute;
  left:290px;
  top:513px;
  width:225px;
  height:22px;
}
#u2383 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u2384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2384 {
  position:absolute;
  left:290px;
  top:555px;
  width:181px;
  height:22px;
}
#u2385 {
  position:absolute;
  left:0px;
  top:2px;
  width:183px;
  white-space:nowrap;
}
#u2386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2386 {
  position:absolute;
  left:290px;
  top:533px;
  width:97px;
  height:22px;
}
#u2387 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2388 {
  position:absolute;
  left:290px;
  top:578px;
  width:181px;
  height:22px;
}
#u2389 {
  position:absolute;
  left:0px;
  top:2px;
  width:183px;
  white-space:nowrap;
}
#u2390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2390 {
  position:absolute;
  left:620px;
  top:513px;
  width:74px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2391 {
  position:absolute;
  left:2px;
  top:12px;
  width:70px;
  word-wrap:break-word;
}
#u2392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2392 {
  position:absolute;
  left:620px;
  top:563px;
  width:74px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2393 {
  position:absolute;
  left:2px;
  top:12px;
  width:70px;
  word-wrap:break-word;
}
#u2394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2394 {
  position:absolute;
  left:348px;
  top:839px;
  width:85px;
  height:20px;
}
#u2395 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2396 {
  position:absolute;
  left:79px;
  top:193px;
  width:316px;
  height:45px;
}
#u2397 {
  position:absolute;
  left:2px;
  top:14px;
  width:312px;
  word-wrap:break-word;
}
#u2398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:45px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2398 {
  position:absolute;
  left:395px;
  top:193px;
  width:315px;
  height:45px;
}
#u2399 {
  position:absolute;
  left:2px;
  top:14px;
  width:311px;
  word-wrap:break-word;
}
#u2400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2400 {
  position:absolute;
  left:290px;
  top:411px;
  width:129px;
  height:22px;
  font-size:16px;
}
#u2401 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2402 {
  position:absolute;
  left:290px;
  top:433px;
  width:145px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2403 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2404 {
  position:absolute;
  left:290px;
  top:600px;
  width:129px;
  height:22px;
  font-size:16px;
}
#u2405 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2406 {
  position:absolute;
  left:288px;
  top:620px;
  width:129px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2407 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2408 {
  position:absolute;
  left:132px;
  top:367px;
  width:71px;
  height:36px;
  color:#FF0000;
}
#u2409 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2410 {
  position:absolute;
  left:756px;
  top:353px;
  width:253px;
  height:180px;
  color:#FF0000;
}
#u2411 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
