body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1026px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u876 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u877 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:54px;
  background:inherit;
  background-color:rgba(81, 81, 81, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u878 {
  position:absolute;
  left:80px;
  top:40px;
  width:640px;
  height:54px;
}
#u879 {
  position:absolute;
  left:2px;
  top:19px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:24px;
}
#u880 {
  position:absolute;
  left:94px;
  top:56px;
  width:19px;
  height:24px;
}
#u881 {
  position:absolute;
  left:2px;
  top:4px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u882 {
  position:absolute;
  left:123px;
  top:58px;
  width:33px;
  height:22px;
  color:#FFFFFF;
}
#u883 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u884 {
  position:absolute;
  left:377px;
  top:64px;
  width:65px;
  height:21px;
  color:#FFFFFF;
}
#u885 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:9px;
}
#u886 {
  position:absolute;
  left:680px;
  top:63px;
  width:30px;
  height:9px;
}
#u887 {
  position:absolute;
  left:2px;
  top:-4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1406px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u888 {
  position:absolute;
  left:80px;
  top:94px;
  width:640px;
  height:1406px;
}
#u889 {
  position:absolute;
  left:2px;
  top:695px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u890 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u891 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u892 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:266px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u893 {
  position:absolute;
  left:79px;
  top:95px;
  width:640px;
  height:266px;
}
#u894 {
  position:absolute;
  left:2px;
  top:125px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u895 {
  position:absolute;
  left:364px;
  top:101px;
  width:90px;
  height:90px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u896 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  word-wrap:break-word;
}
#u897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u897 {
  position:absolute;
  left:376px;
  top:201px;
  width:65px;
  height:22px;
}
#u898 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u899 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:31px;
}
#u900 {
  position:absolute;
  left:303px;
  top:321px;
  width:23px;
  height:31px;
}
#u901 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u902 {
  position:absolute;
  left:336px;
  top:332px;
  width:165px;
  height:20px;
  font-size:14px;
}
#u903 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 153, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u904 {
  position:absolute;
  left:609px;
  top:312px;
  width:110px;
  height:40px;
  font-size:16px;
}
#u905 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u906 {
  position:absolute;
  left:313px;
  top:241px;
  width:75px;
  height:22px;
}
#u907 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:22px;
}
#u908 {
  position:absolute;
  left:408px;
  top:241px;
  width:1px;
  height:21px;
}
#u909 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u910 {
  position:absolute;
  left:434px;
  top:241px;
  width:85px;
  height:22px;
}
#u911 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u912 {
  position:absolute;
  left:288px;
  top:290px;
  width:241px;
  height:22px;
}
#u913 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u914 {
  position:absolute;
  left:370px;
  top:373px;
  width:65px;
  height:22px;
}
#u915 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:191px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u916 {
  position:absolute;
  left:94px;
  top:404px;
  width:616px;
  height:191px;
}
#u917 {
  position:absolute;
  left:0px;
  top:20px;
  width:616px;
  word-wrap:break-word;
}
#u918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:609px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u918 {
  position:absolute;
  left:94px;
  top:595px;
  width:609px;
  height:107px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u919 {
  position:absolute;
  left:0px;
  top:25px;
  width:609px;
  word-wrap:break-word;
}
#u920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u920 {
  position:absolute;
  left:80px;
  top:934px;
  width:640px;
  height:50px;
}
#u921 {
  position:absolute;
  left:2px;
  top:17px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u922 {
  position:absolute;
  left:80px;
  top:939px;
  width:319px;
  height:40px;
}
#u923 {
  position:absolute;
  left:2px;
  top:12px;
  width:315px;
  word-wrap:break-word;
}
#u924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u924 {
  position:absolute;
  left:399px;
  top:939px;
  width:321px;
  height:40px;
}
#u925 {
  position:absolute;
  left:2px;
  top:12px;
  width:317px;
  word-wrap:break-word;
}
#u926 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:226px;
}
#u927 {
  position:absolute;
  left:409px;
  top:989px;
  width:309px;
  height:225px;
}
#u928 {
  position:absolute;
  left:2px;
  top:104px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u929 {
  position:absolute;
  left:657px;
  top:991px;
  width:60px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u930 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u931 {
  position:absolute;
  left:409px;
  top:1215px;
  width:224px;
  height:44px;
}
#u932 {
  position:absolute;
  left:0px;
  top:1px;
  width:221px;
  white-space:nowrap;
}
#u933 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:226px;
}
#u934 {
  position:absolute;
  left:81px;
  top:989px;
  width:309px;
  height:225px;
}
#u935 {
  position:absolute;
  left:2px;
  top:104px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u936 {
  position:absolute;
  left:329px;
  top:991px;
  width:60px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u937 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u938 {
  position:absolute;
  left:80px;
  top:1215px;
  width:224px;
  height:44px;
}
#u939 {
  position:absolute;
  left:0px;
  top:1px;
  width:221px;
  white-space:nowrap;
}
#u940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:226px;
}
#u940 {
  position:absolute;
  left:81px;
  top:1275px;
  width:309px;
  height:225px;
}
#u941 {
  position:absolute;
  left:2px;
  top:104px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u942 {
  position:absolute;
  left:330px;
  top:1275px;
  width:60px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u943 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u944 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:60px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u945 {
  position:absolute;
  left:80px;
  top:1440px;
  width:640px;
  height:60px;
}
#u946 {
  position:absolute;
  left:2px;
  top:22px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u947 {
  position:absolute;
  left:80px;
  top:1440px;
  width:100px;
  height:60px;
}
#u948 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u949 {
  position:absolute;
  left:260px;
  top:1440px;
  width:100px;
  height:60px;
}
#u950 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u951 {
  position:absolute;
  left:440px;
  top:1440px;
  width:100px;
  height:60px;
}
#u952 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u953 {
  position:absolute;
  left:620px;
  top:1440px;
  width:100px;
  height:60px;
}
#u954 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u955 {
  position:absolute;
  left:110px;
  top:820px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u956 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u957 {
  position:absolute;
  left:270px;
  top:820px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u958 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u959 {
  position:absolute;
  left:435px;
  top:820px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u960 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u961 {
  position:absolute;
  left:110px;
  top:880px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u962 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u963 {
  position:absolute;
  left:270px;
  top:880px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u964 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u965 {
  position:absolute;
  left:577px;
  top:880px;
  width:140px;
  height:40px;
  color:#FF0000;
}
#u966 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u967 {
  position:absolute;
  left:747px;
  top:810px;
  width:113px;
  height:40px;
}
#u968 {
  position:absolute;
  left:0px;
  top:2px;
  width:113px;
  white-space:nowrap;
}
#u969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:189px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u969 {
  position:absolute;
  left:747px;
  top:42px;
  width:204px;
  height:189px;
}
#u970 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  word-wrap:break-word;
}
#u971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u971 {
  position:absolute;
  left:619px;
  top:850px;
  width:85px;
  height:20px;
  color:#FF0000;
}
#u972 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u973 {
  position:absolute;
  left:731px;
  top:890px;
  width:295px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u974 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
