body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:680px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2454 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2455 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:54px;
  background:inherit;
  background-color:rgba(81, 81, 81, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2456 {
  position:absolute;
  left:40px;
  top:40px;
  width:640px;
  height:54px;
}
#u2457 {
  position:absolute;
  left:2px;
  top:19px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:24px;
}
#u2458 {
  position:absolute;
  left:54px;
  top:56px;
  width:19px;
  height:24px;
}
#u2459 {
  position:absolute;
  left:2px;
  top:4px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2460 {
  position:absolute;
  left:83px;
  top:58px;
  width:33px;
  height:21px;
  color:#FFFFFF;
}
#u2461 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2462 {
  position:absolute;
  left:312px;
  top:61px;
  width:97px;
  height:21px;
  color:#FFFFFF;
}
#u2463 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:9px;
}
#u2464 {
  position:absolute;
  left:640px;
  top:63px;
  width:30px;
  height:9px;
}
#u2465 {
  position:absolute;
  left:2px;
  top:-4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:800px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2466 {
  position:absolute;
  left:40px;
  top:94px;
  width:640px;
  height:800px;
}
#u2467 {
  position:absolute;
  left:2px;
  top:392px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2468 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2469 {
  position:absolute;
  left:40px;
  top:120px;
  width:640px;
  height:80px;
}
#u2470 {
  position:absolute;
  left:2px;
  top:32px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2471 {
  position:absolute;
  left:610px;
  top:120px;
  width:70px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2472 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u2473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2473 {
  position:absolute;
  left:60px;
  top:126px;
  width:33px;
  height:21px;
}
#u2474 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2475 {
  position:absolute;
  left:120px;
  top:127px;
  width:110px;
  height:21px;
}
#u2476 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u2477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2477 {
  position:absolute;
  left:60px;
  top:170px;
  width:187px;
  height:21px;
}
#u2478 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u2479 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2480 {
  position:absolute;
  left:40px;
  top:230px;
  width:640px;
  height:80px;
}
#u2481 {
  position:absolute;
  left:2px;
  top:32px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2482 {
  position:absolute;
  left:60px;
  top:236px;
  width:33px;
  height:21px;
}
#u2483 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2484 {
  position:absolute;
  left:120px;
  top:237px;
  width:110px;
  height:21px;
}
#u2485 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u2486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2486 {
  position:absolute;
  left:60px;
  top:280px;
  width:187px;
  height:21px;
}
#u2487 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u2488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2488 {
  position:absolute;
  left:40px;
  top:440px;
  width:640px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2489 {
  position:absolute;
  left:2px;
  top:12px;
  width:636px;
  word-wrap:break-word;
}
